---
layout: layout
title: Home
generator: pagination
pagination:
    max_per_page: 4
    provider: data.discussions
use:
    - discussions
---
<!--
<div id="next-discussion" class="well">
    <div class="row-fluid spacetop">
        <div class="span7">
            <h1>Next Meetup</h1>
            <h4>Clean Code, Chapter 3 &mdash; March 3, 2015, 8:00pm CST</h4>
            <p>In this discussion, the Dev Book Club will cover Chapter 3 of Clean Code by Robert Martin. This chapter promises to help us understand how to write readable, maintainable, clean functions.</p>
        </div>
        <div class="span5">
            <div class="discussion-video spacetop">
                <iframe height="330" src="https://www.youtube.com/embed/vHOJx3G5V3k" frameborder="0" allowfullscreen style="border:0px;width:100%;"></iframe>
            </div>
        </div>
    </div>
</div>
-->
<div id="discussions">
    <div class="row-fluid spacetop">
        <div class="span12">
            {% for discussion in page.pagination.items %}
            <div class="blogbox">
                <h1>{{ discussion.title }}</h1>
                <p class="spacebot">
                <span class="metablog"><i class="icon icon-calendar"></i> {{ discussion.date | date('M j, Y') }}</span>
                <a href="http://amzn.com/{{ discussion.amazonid }}" class="metablog"><i class="icon icon-align-left"></i> {{ discussion.book }} </a>
                </p>
                <p>{{ discussion.blocks.content | raw }}</p>
                <div class="discussion-video spacetop youTubeVideo">
                    <iframe height="330" src="//www.youtube.com/embed/{{ discussion.youtube_id }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            {% endfor %}

            {% if page.pagination.previous_page or page.pagination.next_page %}
            <nav>
                {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Discussions</a>{% endif %}<br />
                {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Previous Discussions</a>{% endif %}<br />
            </nav>
            {% endif %}
        </div>
    </div>
</div>
