---
layout: layout
title: Home
generator: pagination
pagination:
    max_per_page: 4
    provider: data.discussions
use:
    - discussions
---
<div id="next-discussion" class="well">
    <div class="row-fluid spacetop">
        <div class="span7">
            <h1>Next Meetup</h1>
            <h4>Clean Code, Chapter 2 &mdash; Feb 17, 2015, 8:00pm CST</h4>
            <p> The Dev Book Club discusses Chapter 2 of Clean Code by Robert Martin, covering meaningful naming practices. Naming is one of the most difficult parts of being a programmer, and this chapter promises to shed some light on good practices we can follow to make our naming more useful to ourselves and our teammates.</p>
        </div>
        <div class="span5">
            <div class="discussion-video spacetop">
                <iframe height="330" src="https://www.youtube.com/embed/noS47lpKcDM" frameborder="0" allowfullscreen style="border:0px;width:100%;"></iframe>
            </div>
        </div>
    </div>
</div>
<div id="discussions">
    <div class="row-fluid spacetop">
        <div class="span12">
            {% for discussion in page.pagination.items %}
            <div class="blogbox">
                <h1>{{ discussion.title }}</h1>
                <p class="spacebot">
                <span class="metablog"><i class="icon icon-calendar"></i> {{ discussion.date | date('M j, Y') }}</span>
                <a href="http://amzn.com/{{ discussion.amazonid }}" class="metablog"><i class="icon icon-align-left"></i> {{ discussion.book }} </a>
                </p>
                <p>{{ discussion.blocks.content | raw }}</p>
                <div class="discussion-video spacetop">
                    <iframe width="560" height="330" style="border:0px;" src="//www.youtube.com/embed/{{ discussion.youtube_id }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            {% endfor %}

            {% if page.pagination.previous_page or page.pagination.next_page %}
            <nav>
                {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Discussions</a>{% endif %}<br />
                {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Previous Discussions</a>{% endif %}<br />
            </nav>
            {% endif %}
        </div>
    </div>
</div>
